.tableCell {
  width: 300px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 30px;
  height: 30px;
  flex-shrink: 0;
  padding: 10px;
  border: 1px solid rgb(203, 236, 236) !important;
  font-weight: 600;
  @media screen and (max-width: 575px) {
    font-size: 10px !important;
  }
}

.tableHead {
  background-color: #5ca8d7;
  th {
    border: none;
  }

  .numberCell {
    background-color: #5ca8d7;
  }

  .childrenCell {
    background-color: #5ca8d7;
  }

  .tableCell {
    background-color: #5ca8d7;
  }
}

.tableRow {
  position: relative;
}

.columnCell {
  width: 40px;
}

tbody {
  .columnCell {
    cursor: pointer;
  }
}

thead {
  .numberCell {
    z-index: 3 !important;
  }
  .childrenCell {
    z-index: 3 !important;
  }
}

.numberCell {
  z-index: 1;
  min-width: 40px;
  background-color: white;
  position: sticky;
  left: 0;
  max-width: 50px;
}

.childrenCell {
  position: sticky;
  z-index: 1;
  min-width: 200px;
  width: 300px;
  background-color: white;
  left: 50px;
  @media screen and (max-width: 576px) {
    left: 38px;
  }
}

.container {
  overflow: auto;
  border-radius: 10px;
}
