.linkContainer {
  display: flex;
  flex-direction: row;
}

.linkBtn {
  padding: 5px;
  border-radius: 5px;
  background-color: #0bd47d;
  color: black;
  text-decoration: none;
  margin: 10px;
  display: block;
  width: fit-content;
}
.activeLink {
  border: 1px solid #0bd47d;
  background-color: white;
}